* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #090826;
}
.first-menu {
  color: #f07ef2;
  transition: color 0.4s;
}

.first-menu:hover {
  color: #edd2edf4;
}

.logo {
  width: 40px !important;
  height: 30px !important;
  padding-right: 10px;
}
.form-search {
  border: 4px solid #f07ef2;
}

.btn-search-menu {
  background-color: #f07ef2;
}
.btn-search-menu:hover {
  background-color: #29f2de;
}

.second-menu-list {
  color: #29f2de !important;
  transition: color 0.4s;
}
.second-menu-list:hover {
  color: #9dece4 !important;
}

.second-menu li {
  list-style: none;
  margin-bottom: 10%;
}

.principal-container {
  background-image: url(/assets/img-chats/fondo.png);
  background-size: 100% 100%;
  padding: 50px;
  background-repeat: no-repeat;
}

.f-not {
  font-family: "Press Start 2P", cursive;
  color: #f07ef2;
}

.chats-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid #29f2de;
  background-color: rgba(0, 0, 0, 0.591);
  padding: 30px;
  margin-top: 50px;
  gap: 20px;
}

.team-container {
  color: #fff;
  display: flex;
  padding: 20px;
  border: 2px solid #f27eea;
  border-radius: 10px;
  background-color: #f27eea6d;
  gap: 10px;
  cursor: pointer;
}

.team-container:hover {
  background-color: #29f2de8b;
  border: 2px solid #29f2de;
}

.team-container:hover .menssage-container {
  background-color: #29f2de8b;
  border: 2px solid #29f2de;
}

.team-image {
  width: 17%;
  min-width: 70px;
  border-radius: 12px;
}

.info-container {
  width: 68%;
}

.team-people {
  max-width: 100px;
  margin-top: 5px;
  font-size: 14px;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.39);
}

.menssage-container {
  display: flex;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #f27eea;
  padding: 2px;
  background-color: #f27eea7c;
}

.icon-user {
  margin-right: 9px;
  width: 26px;
  height: 26px;
}

.hour {
  margin-left: auto;
  font-size: 13px;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 10%;
  padding-bottom: 15px;
  margin-left: auto;
}

.message-icon {
  font-size: 29px;
}

.options-icon {
  margin-left: auto;
  font-size: 23px;
}

.options-icon:hover {
  font-size: 35px;
}

.settings-messages {
  position: relative;
}

.amount-message {
  position: absolute;
  top: -15px;
  left: 19px;
  font-size: 11.5px;
  padding: 3px;
  background-color: #000;
  border-radius: 50%;
}

.button-videogame {
  background-color: #f27eea;
}

.container-videogames {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  padding-bottom: 50px;
}

.container-card {
  width: 20%;
  background-color: #1462a6;
  border: 2px solid #f27eea;
}

.card-title {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  color: #fff;
}

.img-card {
  width: 100%;
  height: 270px;
}

.card-button {
  margin-left: 35%;
  background-color: #f27eea;
}

.img-width {
  width: 2rem;
  height: 2rem;
}

.img-width-f {
  width: 4rem;
}

.font-color-footer {
  color: #BBF2ED;
}
.text-products{
  color: #29F2DE;
}

@media (max-width: 768px) {
  .principal-container {
    background-image: none;
  }
  .f-not {
    padding-top: 26px;
  }
  .team-image {
    width: 8%;
    height: 80px;
    min-width: 70px;
    border-radius: 12px;
  }
  .team-people {
    max-width: 100px;
    margin-top: 5px;
    font-size: 10px;
    padding: 2px;
  }
  .team-name {
    font-size: 13px;
  }
  .last-message {
    font-size: 10px;
  }
  .chats-container {
    display: flex;
    margin: 30px 45px 0 1px;
  }
  .container-videogames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 45px 0 1px;
    gap: 10px;
  }
  .container-card {
    width: 40%;
  }
  .card-button {
    margin-left: 30px;
  }
}

.second-menu-list li{
  display: inline-block !important;
}

.m-i {
  margin-top: 3.5%;
}

@media only screen and (max-width: 360px) {
  .b-busqueda {
    display: none;
  }
  .space-width {
    width: 12%;
    margin-right: 6px;
}

}
