.first-menu {
    color: #f07ef2;
  }
  
  .form-search {
    border: 4px solid #f07ef2;
  }
  
  .btn-search-menu {
    background-color: #f07ef2;
  }
  .btn-search-menu:hover {
    background-color: #29f2de;
  }
  
  .second-menu-list {
    color: #29f2de !important;
  }

  .img-width {
    width: 4rem;
  }

  .font-color-footer {
    color: #BBF2ED;
  }
  .text-products{
    color: #29F2DE;
  }

  .bg-text-news{
    background-color: #BBF2ED;
  }

  .bg-borders {
    background-color: #071540;
    border-radius: 5%;
  }
  