.first-menu {
  color: #f07ef2;
}
.bg-nav{
  background-color: #090826;
}
.m-i{
  display: flex;
  align-items: center;
  list-style: none;
}
.logo {
  width: 40px !important;
  height: 30px !important;
  padding-right: 10px;
}
.form-search {
  border: 4px solid #f07ef2;
}

.btn-search-menu {
  background-color: #f07ef2;
}
.btn-search-menu:hover {
  background-color: #29f2de;
}

.second-menu-list {
  color: #29f2de !important;
}

.image-bg {
  background-image: url(assets/img-navbar/zyro-image.png);
  background-size: cover;
  background-position: 0rem -33rem;
  background-repeat: no-repeat;  
  width: 100%;
  height: 40vh;
}
.f-not{
    font-family: 'Press Start 2P', cursive;
    color: #f07ef2;
}
.bg-not{
    background-color: #090826;
}
.bg-barritas{
    background-color: #f07ef2 !important;
}

.bg-main-1 {
    background-color: #1462A6;
}


.img-width {
    width: 4rem;
}