.bg-body{
    background-color: #1D1459 !important;
}
.first-menu {
    color:#BBF2ED;
    transition: color 0.5s;
  }
  .first-menu:hover{
    color: #e3f8f6;
  }
  .pag-act{
    color: #932CBF;
    transition: color 0.5s;
  }
  .pag-act:hover{
    color: #ad47d8;
  }
  
.logo {
    width: 40px !important;
    height: 30px !important;
    padding-right: 10px;
  }
  .form-search {
    border: 4px solid #BBF2ED;
  }
  
  .btn-search-menu {
    background-color: #BBF2ED;
  }
  .btn-search-menu:hover {
    background-color: #29f2de;
  }
  
  .second-menu-list {
    color: #29f2de !important;
  } 
.bg-nav{
    background-color: #140D43 !important;
}
.img-fondo{
    background-image: url(../assets/img-pc/f-4.png);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.f-2p{
    font-family: 'Press Start 2P', cursive;
    color: #29f2de;
}
.img-width {
    width: 2rem;
  }