* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: #090826;
}
.first-menu {
  color: #f07ef2;
  transition: color 0.4s;
}

  .first-menu:hover {
    color: #edd2edf4;
  }

.logo {
  width: 40px !important;
  height: 30px !important;
  padding-right: 10px;
}
.form-search {
  border: 4px solid #f07ef2;
}

.btn-search-menu {
  background-color: #f07ef2;
}
.btn-search-menu:hover {
  background-color: #29f2de;
}

.second-menu-list {
  color: #29f2de !important;
  transition: color 0.4s;
}

  .second-menu-list:hover {
    color: #9dece4 !important;
  }

    .second-menu li {
    list-style: none;
    margin-bottom: 10%;
  }

.f-not {
  font-family: "Press Start 2P", cursive;
  color: #f07ef2;
  margin-bottom: 50px;
}

.container-comunity-help {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin-bottom: 100px;
}

.user-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.user-containers {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}

.user-icon {
  width: 45px;
  height: 45px;
}

.card-container {
  display: flex;
  padding: 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.432) !important;
  border: 2px solid #e33be6;
  gap: 20px;
}

.img-user-help {
  width: 130px;
  height: 90px;
  border-radius: 8px;
  border: 2px solid #f07ef2;
}

.button-replay {
  font-size: 14px;
  border-radius: 5px;
  padding: 3px;
  color: #fff;
  border: 1px solid #e33be6;
  background-color: #f07ef2;
}

.button-replay:hover {
  font-size: 17px;
  color: #fff;
  background-color: #29f2de;
  border: 1px solid #007c70;
}

.img-width {
  width: 2rem;
  height: 2rem;
}

  .img-width-f {
    width: 4rem;
  }

  .font-color-footer {
    color: #BBF2ED;
  }
  .text-products{
    color: #29F2DE;
  }

    @media only screen and (max-width: 576px) {
    .navbar a {
      font-size: 14px !important;
      font-weight: bold;
      display: flex;
      text-align: start;
    } 
    .navbar {
      display: flex;
      justify-items: left;
    }
    .margin-dropdown{
      margin-bottom: 5px !important;
    }
    .t-barra {
      width: 70%;
    }
    .space-width {
      width: 44%;
    }
  }

  .second-menu-list li{
    display: inline-block !important;
  }

  .m-i {
    margin-top: 3.5%;
  }

  @media only screen and (max-width: 360px) {
    .b-busqueda {
      display: none;
    }
    .space-width {
      width: 12%;
      margin-right: 6px;
  }

  }
