.c-s{
    color: #2FC9EA !important;
    transition: color 0.4s;
}
.c-s:hover{
    color: #7de0f6 !important;
}
.bg-body{
    background-color: #932CBF !important;
}
.first-menu {
    color: #932CBF;
    transition: color 0.4s;
  }
  .first-menu:hover{
    color: #a953ce;
  }
  .bg-nav{
    background-color: #090826 !important;
  }
  .logo {
    width: 40px !important;
    height: 30px !important;
    padding-right: 10px;
  }
  .form-search {
    border: 4px solid #f07ef2;
  }
  
  .btn-search-menu {
    background-color: #f07ef2;
  }
  .btn-search-menu:hover {
    background-color: #29f2de;
  }
  
  .second-menu-list {
    color: #29f2de !important;
  }
  
  .image-bg {
    background: cover;
  }
  .bg-img{
    background-image: url(assets/img/zyro-image.png);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    /* background-position-y: -50rem; */
    background-size: cover;
  }
  .f-2p{
    font-family: 'Press Start 2P', cursive;
    color: #2FC9EA !important;
  }
.bg-aud{
    border: solid 3px #29f2de;
    height: 100px;
    border-radius: 20px;
    width: 100%;
}
.cont-auds{
    width: 100%;
}
.cont-meg{
    margin-top: 10px;
    width: 27%;
}
.cont-cup{
    margin-top: 10px;
    width: 60%;
}
.cont-halo{
    margin-top: 10px;
    width: 80%;
}
.bg-halo{
    border: solid 3px #29f2de;
    height: 200px;
    border-radius: 20px;
    width: 100%;  
}
.cont-mega-man{
    margin-top: 10px;
    width: 50%;
}
.cont-zelda{
    margin-top: 10px;
    width: 47%;
}